{% extends "base_generic.html" %}

{% block header %}
<h1 class="center">Meals of the Day</h1>
{% endblock %}

{% block topmenu %}
<ul>
    <li>User: {{ user.get_username }}</li>
    <li><a href="{% url 'date_picker' %}?next={{request.path}}">Calendar</a></li>
    <li><a href="{% url 'week_view' %}?next={{request.path}}">Meal picker</a></li>
    <li><a href="{% url 'meals' %}?next={{request.path}}">List of meals</a></li>
</ul>
{% endblock %}

{% block content %}
<table id="daymeals", style="width: 80%">
    <tr>
        <th>Breakfast</th>
        <th>Lunch</th>
        <th>Dinner</th>
    </tr>
    <tr>
        <th>
            <ul>
                {% for user in BR %}
                <li style="list-style-type:none;"><a href="{% url 'user_detail' user.pk %}">{{user.first_name}}
                        {{user.last_name}}</a></li>
                {% endfor %}
            </ul>
        </th>
        <th>
            <ul>
                {% for user in LU %}
                <li style="list-style-type:none;"><a href="{% url 'user_detail' user.pk %}">{{user.first_name}}
                        {{user.last_name}}</a></li>
                {% endfor %}
            </ul>
        </th>
        <th>
            <ul>
                {% for user in DI %}
                <li style="list-style-type:none;"><a href="{% url 'user_detail' user.pk %}">{{user.first_name}}
                        {{user.last_name}}</a></li>
                {% endfor %}
            </ul>
        </th>
    </tr>
</table>
{% endblock %}