{% extends "base_generic.html" %}

{% block header %}
<h1 class="center">Meals List</h1>
{% endblock %}

{% block topmenu %}
<ul>
    <li>User: {{ user.get_username }}</li>
    <li><a href="{% url 'date_picker' %}?next={{request.path}}">Calendar</a></li>
    <li><a href="{% url 'week_view' %}?next={{request.path}}">Meal picker</a></li>
    <li><a href="{% url 'day_meals' %}?next={{request.path}}">Meals of the day</a></li>
</ul>
{% endblock %}


{% block content %}
{% if meal_list %}
<ul>
    {% for meal in meal_list %}
    <li>
        {{ meal }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no meals.</p>
{% endif %}
{% endblock %}