{% extends "base_generic.html" %}
{% block content %}
<h1>Meals of the day</h1>
<table style="width: 100%">
    <tr>
        <th>Breakfast</th>
        <th>Lunch</th>
        <th>Dinner</th>
    </tr>
    <tr>
        <th>
            <ul>
                {% for user in BR %}
                <li style="list-style-type:none;"><a href="{% url 'user_detail' user.pk %}">{{user.first_name}}
                        {{user.last_name}}</a></li>
                {% endfor %}
            </ul>
        </th>
        <th>
            <ul>
                {% for user in LU %}
                <li style="list-style-type:none;"><a href="{% url 'user_detail' user.pk %}">{{user.first_name}}
                        {{user.last_name}}</a></li>
                {% endfor %}
            </ul>
        </th>
        <th>
            <ul>
                {% for user in DI %}
                <li style="list-style-type:none;"><a href="{% url 'user_detail' user.pk %}">{{user.first_name}}
                        {{user.last_name}}</a></li>
                {% endfor %}
            </ul>
        </th>
    </tr>
</table>
{% endblock %}