{% extends "base_generic.html" %}
{% block content %}
<table id="weektable" width="50%">
    <tr>
        <th colspan="2"> {{ monday_form.date.value }} </th>
    </tr>
    <tr>
        <div class="row">
            <form action="{% url 'week_view' %}" method="post">
                {% csrf_token %}
                <td>
                    {{ monday_form.date }} {{ monday_form.LU }}
                </td>
                <td>
                    {{ monday_form.DI }}
                </td>
            </form>
        </div>
    </tr>
    <tr>
        <th colspan="2"> {{ tuesday_form.date.value }} </th>
    </tr>
    <tr>
        <div class="row">
            <form action="{% url 'week_view' %}" method="post">
                {% csrf_token %}
                <td>
                    {{ tuesday_form.date }} {{ tuesday_form.LU }}
                </td>
                <td>
                    {{ tuesday_form.DI }}
                </td>
            </form>
        </div>
    </tr>
    <tr>
        <th colspan="2"> {{ wednesday_form.date.value }} </th>
    </tr>
    <tr>
        <div class="row">
            <form action="{% url 'week_view' %}" method="post">
                {% csrf_token %}
                <td>
                    {{ wednesday_form.date }} {{ wednesday_form.LU }}
                </td>
                <td>
                    {{ wednesday_form.DI }}
                </td>
            </form>
        </div>
    </tr>
    </div>
</table>
{% endblock %}