body {
    background-color: whitesmoke;
    font-size: 12;
    font-family: "Arial";
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    line-height: 1.5;
}

content {
    max-width: 500px;
    margin: auto;
}

h1 {
    color: hsl(210, 10%, 62%);
    margin-left: 40px;
    font-weight: 400;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

table#weektable {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px black solid;
}

table#weektable th {
    background-color: rgb(114, 149, 114);
    padding: 5px;
}

table#weektable td {
    padding: 5px;
}

table#weektable caption {
    font-style: italic;
}

th {
    text-align: center;
}

td {
    text-align: center;
}