/* https://digitalsynopsis.com/design/beautiful-color-palettes-combinations-schemes/
*/

:root {
    --towelred: #ff5959;
    --towelgreen: #085f63;
    --towelblue: #49beb7;
    --towelyellow: #facf5a;
    --towelgrey: #e6e6ea;
    --towelwhite: #f4f4f8;
}


body {
    background-color: var(--towelwhite);
    min-height: 100vh;
    max-width: 330px;
    margin: auto;
    font-size: 16px;
    font-family: "Verdana";
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    line-height: 1.5;
}


content {
    max-width: 500px;
    margin: auto;
}

h1 {
    margin-left: 20px;
    font-size: 220%;
    font-weight: 500;
    margin: auto;
    text-align: center;
}

h2 {
    margin-left: 20px;
    font-weight: 400;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


input[type=submit] {
    background-color: var(--towelyellow);
    padding: 5px 10px;
    margin: 2px 2px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}


button {
    background-color: var(--towelyellow);
    color: black;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 18px;
    cursor: pointer;
}

/* unvisited link */
a:link {
    color: var(--towelgreen);
}

/* visited link */
a:visited {
    color: var(--towelgreen);
}

hr {
    border: 0.5px solid var(--towelred);
}

/* week table */

table#weektable,
table#daymeals {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px black solid;
}

table th {
    background-color: var(--towelblue);
    padding: 5px;
    text-align: center;

}

table td {
    padding: 5px;
}

table#weektable th,
table#weektable td {
    text-align: center;
}

/* day meals table */

#daymeals tr:nth-child(even) {
    background-color: var(--towelgrey);
}

#daymeals tr:hover {
    background-color: var(--towelyellow);
}

div.left {
    display: flex;
    justify-content: flex-end;
}

div.right {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    height: 500px;
    background: #5e5e5e;
}

/* switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}