/* https://digitalsynopsis.com/design/beautiful-color-palettes-combinations-schemes/
*/

:root {
    --towelred: #fe4a49;
    --towelblue: #2ab7ca;
    --towelyellow: #fed766;
    --towelgrey: #e6e6ea ;
    --towelwhite: #f4f4f8;
}


body {
    background-color: var(--towelwhite);
    min-height: 100vh;
    max-width: 400px;
    margin: auto;
    font-size: 10;
    font-family: "Verdana";
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    line-height: 1.5;
}

.center {
    margin: auto;
    text-align: center;
}

content {
    max-width: 800px;
    margin: auto;
}

h1 {
    margin-left: 40px;
    font-weight: 500;
}

h2 {
    margin-left: 40px;
    font-weight: 500;
}

/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: blue;
}

hr.ftr {
    border: 1px var(--towelred);
}

/* week table */

table#weektable, table#daymeals {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px black solid;
}

table th {
    background-color: var(--towelblue);
    padding: 5px;
}

table td {
    padding: 5px;
}

table#weektable th, 
table#weektable td {
    text-align: center;
}

/* day meals table */

#daymeals tr:nth-child(even) {
    background-color: var(--towelgrey);
}

#daymeals tr:hover {
    background-color: var(--towelyellow);
}

div.left {
    display: flex;
    justify-content: flex-end;
}

div.right {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    height: 500px;
    background: #5e5e5e;
}